# dist file for TexUtils
git      /extensions/TexUtils            git://github.com/oe-legacy/extensions-TexUtils.git
git-dev  /extensions/TexUtils            git@github.com:oe-legacy/extensions-TexUtils.git

